@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?447d2d1ab22c54b30a3938b9f18b7a79") format("truetype"),
url("./flaticon.woff?447d2d1ab22c54b30a3938b9f18b7a79") format("woff"),
url("./flaticon.woff2?447d2d1ab22c54b30a3938b9f18b7a79") format("woff2"),
url("./flaticon.eot?447d2d1ab22c54b30a3938b9f18b7a79#iefix") format("embedded-opentype"),
url("./flaticon.svg?447d2d1ab22c54b30a3938b9f18b7a79#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-no-phone:before {
    content: "\f101";
}
.flaticon-knowledge:before {
    content: "\f102";
}
.flaticon-progress-report:before {
    content: "\f103";
}
.flaticon-goal:before {
    content: "\f104";
}
.flaticon-globe-on-hand:before {
    content: "\f105";
}
.flaticon-resting:before {
    content: "\f106";
}
.flaticon-routine:before {
    content: "\f107";
}
.flaticon-analytics:before {
    content: "\f108";
}
.flaticon-working-at-home:before {
    content: "\f109";
}
