@charset "UTF-8";
/* Reset */

html {
  font-family: "Source Sans Pro", sans-serif;
}

html,
body,
div,
p,
a,
img,
b,
u,
i,
ol,
ul,
li,
footer,
header,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

footer,
header,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

.col-md-6 img {
  margin-top: -30px;
  transform: scale(0.8);
}

.feature-box p {
  margin-top: -30px;

  color: #04303b;
  font-size: larger;
  text-transform: initial;
  text-align: justify;
}
/* Box Model
                
                */

#footer {
  background-color: #ffffff;
  margin-bottom: 120px;
  margin-top: 100px;
}

#footer .inner {
  color: #180116;
}

#footer .inner h2 {
  margin-top: 50px;
  color: #000000;
  text-transform: uppercase;
}

#footer .inner p {
  padding-bottom: 12px;
  color: #180116;
  font-size: 20px;
  text-transform: unset;
}

#footer .inner ol {
  font-size: 20px;
}

#header h1 a {
  margin-top: 120px;
}
/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

section.special,
article.special {
  text-align: center;
}
/* Box */

.thumbnails {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .thumbnails .box {
    width: 45%;
  }
}

@media screen and (max-width: 736px) {
  .thumbnails .box {
    width: 100%;
  }
}

.ways img {
  width: 100%;
  height: auto;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* Box */

.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #ffeae1;
  text-align: center;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box .image.fit {
  margin: 0;
}

.box .image img {
  border-radius: 4px 4px 0 0;
}

.box .inner {
  padding: 1.5em;
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .box .inner {
    padding: 1em;
  }
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  text-align: center;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}
/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.footer-basic {
  padding: 25px 0;
  color: #ffffff;
}

.footer-basic .social {
  color: #ffffff;
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic .social > a {
  background-color: #eb3656;
  font-size: 24px;
  width: 80px;
  height: 80px;
  line-height: 73px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  border: 3px solid #ffffff;
  margin: 0 8px;
  color: #ffeae1;
}

.footer-basic .social > a:hover {
  opacity: 0.2;
  color: #000000;
}
/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(199, 32, 32, 0.25);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  padding-right: 1em;
}

ul.icons li a {
  display: block;
  border-radius: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: rgba(144, 144, 144, 0.25);
}

ul.icons li a:before {
  font-size: 1.5em;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}

ul.icons li a:hover {
  background-color: #d3b2a3;
  color: #fff;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}
/* Button */

button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #eb3656;
  border-radius: 3px;
  border: 1px solid rgb(235, 54, 86);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  width: 5em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 800;
}

button:hover,
.button:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

button:active,
.button:active {
  background-color: #eb3656;
}

button.icon,
.button.icon {
  padding-left: 1.35em;
}

button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

button.small,
.button.small {
  font-size: 0.8em;
}

button.big,
.button.big {
  font-size: 1.35em;
}

button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: rgba(195, 30, 30, 0.75) !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #000000 !important;
  cursor: default;
  opacity: 0.25;
}

button.style2,
.button.style2 {
  background-color: #eb3656;
}

button.style2:hover,
.button.style2:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

button.style2:active,
.button.style2:active {
  background-color: #eb3656;
}

button.style3,
.button.style3 {
  background-color: #eb3656;
}

button.style3:hover,
.button.style3:hover {
  background-color: #ffffff;
}

button.style3:active,
.button.style3:active {
  background-color: #eb3656;
}

@media screen and (max-width: 480px) {
  button,
  .button {
    padding: 0;
  }
}
/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

hr {
  border: 0;
  border-top: solid 1px rgb(240, 150, 192);
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 70em;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 68em;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: calc(100% - 40px);
  }
}
/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > * {
  box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}

.row.aln-left {
  justify-content: flex-start;
}

.row.aln-center {
  justify-content: center;
}

.row.aln-right {
  justify-content: flex-end;
}

.row.aln-top {
  align-items: flex-start;
}

.row.aln-middle {
  align-items: center;
}

.row.aln-bottom {
  align-items: flex-end;
}

.row > .imp {
  order: -1;
}

.row > .col-1 {
  width: 8.33333%;
}

.row > .off-1 {
  margin-left: 8.33333%;
}

.row > .col-2 {
  width: 16.66667%;
}

.row > .off-2 {
  margin-left: 16.66667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .off-3 {
  margin-left: 25%;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .off-4 {
  margin-left: 33.33333%;
}

.row > .col-5 {
  width: 41.66667%;
}

.row > .off-5 {
  margin-left: 41.66667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .off-6 {
  margin-left: 50%;
}

.row > .col-7 {
  width: 58.33333%;
}

.row > .off-7 {
  margin-left: 58.33333%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .off-8 {
  margin-left: 66.66667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .off-9 {
  margin-left: 75%;
}

.row > .col-10 {
  width: 83.33333%;
}

.row > .off-10 {
  margin-left: 83.33333%;
}

.row > .col-11 {
  width: 91.66667%;
}

.row > .off-11 {
  margin-left: 91.66667%;
}

.row > .col-12 {
  width: 100%;
}

.row > .off-12 {
  margin-left: 100%;
}

.row.gtr-0 {
  margin-top: 0px;
  margin-left: 0px;
}

.row.gtr-0 > * {
  padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
  margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
  padding-top: 0px;
}

.row.gtr-25 {
  margin-top: -12.5px;
  margin-left: -12.5px;
}

.row.gtr-25 > * {
  padding: 12.5px 0 0 12.5px;
}

.row.gtr-25.gtr-uniform {
  margin-top: -12.5px;
}

.row.gtr-25.gtr-uniform > * {
  padding-top: 12.5px;
}

.row.gtr-50 {
  margin-top: -25px;
  margin-left: -25px;
}

.row.gtr-50 > * {
  padding: 25px 0 0 25px;
}

.row.gtr-50.gtr-uniform {
  margin-top: -25px;
}

.row.gtr-50.gtr-uniform > * {
  padding-top: 25px;
}

.row {
  margin-top: -50px;
  margin-left: -50px;
}

.row > * {
  padding: 50px 0 0 50px;
}

.row.gtr-uniform {
  margin-top: -50px;
}

.row.gtr-uniform > * {
  padding-top: 50px;
}

.row.gtr-150 {
  margin-top: -75px;
  margin-left: -75px;
}

.row.gtr-150 > * {
  padding: 75px 0 0 75px;
}

.row.gtr-150.gtr-uniform {
  margin-top: -75px;
}

.row.gtr-150.gtr-uniform > * {
  padding-top: 75px;
}

.row.gtr-200 {
  margin-top: -100px;
  margin-left: -100px;
}

.row.gtr-200 > * {
  padding: 100px 0 0 100px;
}

.row.gtr-200.gtr-uniform {
  margin-top: -100px;
}

.row.gtr-200.gtr-uniform > * {
  padding-top: 100px;
}

@media screen and (max-width: 1680px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row.aln-left {
    justify-content: flex-start;
  }
  .row.aln-center {
    justify-content: center;
  }
  .row.aln-right {
    justify-content: flex-end;
  }
  .row.aln-top {
    align-items: flex-start;
  }
  .row.aln-middle {
    align-items: center;
  }
  .row.aln-bottom {
    align-items: flex-end;
  }
  .row > .imp-xlarge {
    order: -1;
  }
  .row > .col-1-xlarge {
    width: 8.33333%;
  }
  .row > .off-1-xlarge {
    margin-left: 8.33333%;
  }
  .row > .col-2-xlarge {
    width: 16.66667%;
  }
  .row > .off-2-xlarge {
    margin-left: 16.66667%;
  }
  .row > .col-3-xlarge {
    width: 25%;
  }
  .row > .off-3-xlarge {
    margin-left: 25%;
  }
  .row > .col-4-xlarge {
    width: 33.33333%;
  }
  .row > .off-4-xlarge {
    margin-left: 33.33333%;
  }
  .row > .col-5-xlarge {
    width: 41.66667%;
  }
  .row > .off-5-xlarge {
    margin-left: 41.66667%;
  }
  .row > .col-6-xlarge {
    width: 50%;
  }
  .row > .off-6-xlarge {
    margin-left: 50%;
  }
  .row > .col-7-xlarge {
    width: 58.33333%;
  }
  .row > .off-7-xlarge {
    margin-left: 58.33333%;
  }
  .row > .col-8-xlarge {
    width: 66.66667%;
  }
  .row > .off-8-xlarge {
    margin-left: 66.66667%;
  }
  .row > .col-9-xlarge {
    width: 75%;
  }
  .row > .off-9-xlarge {
    margin-left: 75%;
  }
  .row > .col-10-xlarge {
    width: 83.33333%;
  }
  .row > .off-10-xlarge {
    margin-left: 83.33333%;
  }
  .row > .col-11-xlarge {
    width: 91.66667%;
  }
  .row > .off-11-xlarge {
    margin-left: 91.66667%;
  }
  .row > .col-12-xlarge {
    width: 100%;
  }
  .row > .off-12-xlarge {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }
  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }
  .row.gtr-25 {
    margin-top: -12.5px;
    margin-left: -12.5px;
  }
  .row.gtr-25 > * {
    padding: 12.5px 0 0 12.5px;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -12.5px;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 12.5px;
  }
  .row.gtr-50 {
    margin-top: -25px;
    margin-left: -25px;
  }
  .row.gtr-50 > * {
    padding: 25px 0 0 25px;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -25px;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 25px;
  }
  .row {
    margin-top: -50px;
    margin-left: -50px;
  }
  .row > * {
    padding: 50px 0 0 50px;
  }
  .row.gtr-uniform {
    margin-top: -50px;
  }
  .row.gtr-uniform > * {
    padding-top: 50px;
  }
  .row.gtr-150 {
    margin-top: -75px;
    margin-left: -75px;
  }
  .row.gtr-150 > * {
    padding: 75px 0 0 75px;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -75px;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 75px;
  }
  .row.gtr-200 {
    margin-top: -100px;
    margin-left: -100px;
  }
  .row.gtr-200 > * {
    padding: 100px 0 0 100px;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -100px;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row.aln-left {
    justify-content: flex-start;
  }
  .row.aln-center {
    justify-content: center;
  }
  .row.aln-right {
    justify-content: flex-end;
  }
  .row.aln-top {
    align-items: flex-start;
  }
  .row.aln-middle {
    align-items: center;
  }
  .row.aln-bottom {
    align-items: flex-end;
  }
  .row > .imp-large {
    order: -1;
  }
  .row > .col-1-large {
    width: 8.33333%;
  }
  .row > .off-1-large {
    margin-left: 8.33333%;
  }
  .row > .col-2-large {
    width: 16.66667%;
  }
  .row > .off-2-large {
    margin-left: 16.66667%;
  }
  .row > .col-3-large {
    width: 25%;
  }
  .row > .off-3-large {
    margin-left: 25%;
  }
  .row > .col-4-large {
    width: 33.33333%;
  }
  .row > .off-4-large {
    margin-left: 33.33333%;
  }
  .row > .col-5-large {
    width: 41.66667%;
  }
  .row > .off-5-large {
    margin-left: 41.66667%;
  }
  .row > .col-6-large {
    width: 50%;
  }
  .row > .off-6-large {
    margin-left: 50%;
  }
  .row > .col-7-large {
    width: 58.33333%;
  }
  .row > .off-7-large {
    margin-left: 58.33333%;
  }
  .row > .col-8-large {
    width: 66.66667%;
  }
  .row > .off-8-large {
    margin-left: 66.66667%;
  }
  .row > .col-9-large {
    width: 75%;
  }
  .row > .off-9-large {
    margin-left: 75%;
  }
  .row > .col-10-large {
    width: 83.33333%;
  }
  .row > .off-10-large {
    margin-left: 83.33333%;
  }
  .row > .col-11-large {
    width: 91.66667%;
  }
  .row > .off-11-large {
    margin-left: 91.66667%;
  }
  .row > .col-12-large {
    width: 100%;
  }
  .row > .off-12-large {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }
  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }
  .row.gtr-25 {
    margin-top: -10px;
    margin-left: -10px;
  }
  .row.gtr-25 > * {
    padding: 10px 0 0 10px;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -10px;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 10px;
  }
  .row.gtr-50 {
    margin-top: -20px;
    margin-left: -20px;
  }
  .row.gtr-50 > * {
    padding: 20px 0 0 20px;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -20px;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 20px;
  }
  .row {
    margin-top: -40px;
    margin-left: -40px;
  }
  .row > * {
    padding: 40px 0 0 40px;
  }
  .row.gtr-uniform {
    margin-top: -40px;
  }
  .row.gtr-uniform > * {
    padding-top: 40px;
  }
  .row.gtr-150 {
    margin-top: -60px;
    margin-left: -60px;
  }
  .row.gtr-150 > * {
    padding: 60px 0 0 60px;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -60px;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 60px;
  }
  .row.gtr-200 {
    margin-top: -80px;
    margin-left: -80px;
  }
  .row.gtr-200 > * {
    padding: 80px 0 0 80px;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -80px;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 80px;
  }
}

@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row.aln-left {
    justify-content: flex-start;
  }
  .row.aln-center {
    justify-content: center;
  }
  .row.aln-right {
    justify-content: flex-end;
  }
  .row.aln-top {
    align-items: flex-start;
  }
  .row.aln-middle {
    align-items: center;
  }
  .row.aln-bottom {
    align-items: flex-end;
  }
  .row > .imp-medium {
    order: -1;
  }
  .row > .col-1-medium {
    width: 8.33333%;
  }
  .row > .off-1-medium {
    margin-left: 8.33333%;
  }
  .row > .col-2-medium {
    width: 16.66667%;
  }
  .row > .off-2-medium {
    margin-left: 16.66667%;
  }
  .row > .col-3-medium {
    width: 25%;
  }
  .row > .off-3-medium {
    margin-left: 25%;
  }
  .row > .col-4-medium {
    width: 33.33333%;
  }
  .row > .off-4-medium {
    margin-left: 33.33333%;
  }
  .row > .col-5-medium {
    width: 41.66667%;
  }
  .row > .off-5-medium {
    margin-left: 41.66667%;
  }
  .row > .col-6-medium {
    width: 50%;
  }
  .row > .off-6-medium {
    margin-left: 50%;
  }
  .row > .col-7-medium {
    width: 58.33333%;
  }
  .row > .off-7-medium {
    margin-left: 58.33333%;
  }
  .row > .col-8-medium {
    width: 66.66667%;
  }
  .row > .off-8-medium {
    margin-left: 66.66667%;
  }
  .row > .col-9-medium {
    width: 75%;
  }
  .row > .off-9-medium {
    margin-left: 75%;
  }
  .row > .col-10-medium {
    width: 83.33333%;
  }
  .row > .off-10-medium {
    margin-left: 83.33333%;
  }
  .row > .col-11-medium {
    width: 91.66667%;
  }
  .row > .off-11-medium {
    margin-left: 91.66667%;
  }
  .row > .col-12-medium {
    width: 100%;
  }
  .row > .off-12-medium {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }
  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }
  .row.gtr-25 {
    margin-top: -12.5px;
    margin-left: -12.5px;
  }
  .row.gtr-25 > * {
    padding: 12.5px 0 0 12.5px;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -12.5px;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 12.5px;
  }
  .row.gtr-50 {
    margin-top: -25px;
    margin-left: -25px;
  }
  .row.gtr-50 > * {
    padding: 25px 0 0 25px;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -25px;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 25px;
  }
  .row {
    margin-top: -50px;
    margin-left: -50px;
  }
  .row > * {
    padding: 50px 0 0 50px;
  }
  .row.gtr-uniform {
    margin-top: -50px;
  }
  .row.gtr-uniform > * {
    padding-top: 50px;
  }
  .row.gtr-150 {
    margin-top: -75px;
    margin-left: -75px;
  }
  .row.gtr-150 > * {
    padding: 75px 0 0 75px;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -75px;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 75px;
  }
  .row.gtr-200 {
    margin-top: -100px;
    margin-left: -100px;
  }
  .row.gtr-200 > * {
    padding: 100px 0 0 100px;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -100px;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 100px;
  }
}

@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row.aln-left {
    justify-content: flex-start;
  }
  .row.aln-center {
    justify-content: center;
  }
  .row.aln-right {
    justify-content: flex-end;
  }
  .row.aln-top {
    align-items: flex-start;
  }
  .row.aln-middle {
    align-items: center;
  }
  .row.aln-bottom {
    align-items: flex-end;
  }
  .row > .imp-small {
    order: -1;
  }
  .row > .col-1-small {
    width: 8.33333%;
  }
  .row > .off-1-small {
    margin-left: 8.33333%;
  }
  .row > .col-2-small {
    width: 16.66667%;
  }
  .row > .off-2-small {
    margin-left: 16.66667%;
  }
  .row > .col-3-small {
    width: 25%;
  }
  .row > .off-3-small {
    margin-left: 25%;
  }
  .row > .col-4-small {
    width: 33.33333%;
  }
  .row > .off-4-small {
    margin-left: 33.33333%;
  }
  .row > .col-5-small {
    width: 41.66667%;
  }
  .row > .off-5-small {
    margin-left: 41.66667%;
  }
  .row > .col-6-small {
    width: 50%;
  }
  .row > .off-6-small {
    margin-left: 50%;
  }
  .row > .col-7-small {
    width: 58.33333%;
  }
  .row > .off-7-small {
    margin-left: 58.33333%;
  }
  .row > .col-8-small {
    width: 66.66667%;
  }
  .row > .off-8-small {
    margin-left: 66.66667%;
  }
  .row > .col-9-small {
    width: 75%;
  }
  .row > .off-9-small {
    margin-left: 75%;
  }
  .row > .col-10-small {
    width: 83.33333%;
  }
  .row > .off-10-small {
    margin-left: 83.33333%;
  }
  .row > .col-11-small {
    width: 91.66667%;
  }
  .row > .off-11-small {
    margin-left: 91.66667%;
  }
  .row > .col-12-small {
    width: 100%;
  }
  .row > .off-12-small {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
  }
  .row.gtr-0 > * {
    padding: 0px 0 0 0px;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0px;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
  }
  .row.gtr-25 {
    margin-top: -7.5px;
    margin-left: -7.5px;
  }
  .row.gtr-25 > * {
    padding: 7.5px 0 0 7.5px;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -7.5px;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 7.5px;
  }
  .row.gtr-50 {
    margin-top: -15px;
    margin-left: -15px;
  }
  .row.gtr-50 > * {
    padding: 15px 0 0 15px;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -15px;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 15px;
  }
  .row {
    margin-top: -30px;
    margin-left: -30px;
  }
  .row > * {
    padding: 30px 0 0 30px;
  }
  .row.gtr-uniform {
    margin-top: -30px;
  }
  .row.gtr-uniform > * {
    padding-top: 30px;
  }
  .row.gtr-150 {
    margin-top: -45px;
    margin-left: -45px;
  }
  .row.gtr-150 > * {
    padding: 45px 0 0 45px;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -45px;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 45px;
  }
  .row.gtr-200 {
    margin-top: -60px;
    margin-left: -60px;
  }
  .row.gtr-200 > * {
    padding: 60px 0 0 60px;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -60px;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 60px;
  }
}

.image {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  display: inline-block;
}

.image:hover {
  opacity: 0.9;
}

.image img {
  display: block;
  width: 100%;
}

.image.fit {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 1.5em 0;
}

.image.left {
  float: left;
  margin: 0 1.5em 1.5em 0;
  position: relative;
  top: 0.5em;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

#features .container h2 {
  color: #000;
}
/* List */

ul {
  list-style: disc;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
  margin: 0.75em 0 0.75em 0;
}

ul li:first-child {
  margin-top: 0;
}

ol {
  list-style: decimal;
  padding-left: 1em;
}

ol li {
  padding-left: 0.5em;
  margin: 0.75em 0 0.75em 0;
}

ol li:first-child {
  margin-top: 0;
}
/* Links */

ul.links {
  list-style: none;
  padding-left: 0;
}

ul.links li {
  display: inline;
  border-left: solid 1px #d0d0d0;
  padding-left: 1em;
  margin: 0 0 0 1em;
}

ul.links li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
/* Actions */

ul.actions {
  margin-top: 2.5em;
  clear: both;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  padding-left: 0;
  display: inline-block;
  margin: 0 0 0 1em;
}

ul.actions li:first-child {
  margin-left: 0;
}
/* Divided */

ul.divided {
  list-style: none;
  padding-left: 0;
}

ul.divided li {
  border-top: solid 2px #e5e5e5;
  padding-left: 0;
  margin: 2.5em 0 0 0;
  padding: 2.5em 0 0 0;
}

ul.divided li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
/* Icons */

ul.icons {
  list-style: none;
  padding-left: 0;
}

ul.icons > li {
  position: relative;
  padding: 2em 0 0 3em;
  margin: 0;
}

ul.icons > li:before {
  position: absolute;
  left: 0;
  top: 2.6em;
  display: block;
  font-size: 0.8em;
  background: #f0f0f0;
  color: #e4e4e4;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  line-height: 2em;
  text-align: center;
  box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
}

ul.icons > li:first-child {
  padding-top: 0;
}

ul.icons > li:first-child:before {
  top: 0;
}

@media screen and (max-width: 1280px) {
  /* Basic */
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
  /* Image */
  .image.left {
    max-width: 50%;
  }
  .image.right {
    max-width: 50%;
  }
  /* Header */
  #header > .container {
    padding: 12em 0 5em 0;
  }
  #header h1 {
    font-size: 2.5em;
  }
  /* Main */
  #main {
    padding: 4em 0;
  }
  /* Footer */
  #footer {
    padding: 4em 0;
  }
}
/* Medium */

#navPanel,
#titleBar {
  display: none;
}

@media screen and (max-width: 980px) {
  /* Basic */
  html,
  body {
    overflow-x: hidden;
  }
  /* Header */
  #header > .container {
    padding: 10em 0 7em 0;
  }
  /* Small */
  @media screen and (max-width: 736px) {
    /* Basic */
    body,
    input,
    textarea,
    select {
      font-size: 11pt;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.2em;
      letter-spacing: 2px;
      text-align: center;
      margin: 0 0 1em 0;
    }
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
      display: none;
    }
    /* Image */
    .image.featured {
      margin: 0 0 1.5em 0;
    }
    .image.left {
      max-width: 35%;
    }
    .image.right {
      max-width: 35%;
    }
    /* Button */
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
      letter-spacing: 2px;
      display: block;
      padding: 1em 0 1em 0;
      width: 100%;
    }
    /* Actions */
    ul.actions li {
      display: block;
      margin: 1em 0 0 0;
    }
    ul.actions li:first-child {
      margin-top: 0;
    }
    /* Box */
    .box.excerpt header {
      text-align: center;
    }
    /* Header */
    #header > .container {
      padding: 6em 0 4em 0;
    }
    #header h1 {
      font-size: 2em;
      letter-spacing: 8px;
      line-height: 1.325em;
    }
    #header p {
      margin: 1.25em 0 0 0;
      letter-spacing: 2px;
    }
    /* Features */
    #features {
      padding: 6em 0;
    }
    #features ul.actions {
      margin-top: 0;
    }
    /* Main */
    #main {
      padding: 2em 0;
    }
    /* Main */
    #main {
      padding: 4em 0 2em 0;
    }
    @media screen and (max-width: 736px) {
      #main {
        padding: 3em 0 1em 0;
      }
    }
    #main .inner {
      width: 90%;
      max-width: 80em;
      margin: 0 auto;
    }
    @media screen and (max-width: 480px) {
      #main .inner {
        width: 95%;
      }
    }
    /* Row */
    .row {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: stretch;
    }
    .row > * {
      box-sizing: border-box;
    }
    .row {
      margin-top: -50px;
      margin-left: -50px;
    }
    @media screen and (max-width: 1680px) {
      .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
      }
      .row {
        margin-top: -50px;
        margin-left: -50px;
      }
      @media screen and (max-width: 1280px) {
        .row {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          align-items: stretch;
        }
        @media screen and (max-width: 980px) {
          .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
          }
          @media screen and (max-width: 736px) {
            .row {
              display: flex;
              flex-wrap: wrap;
              box-sizing: border-box;
              align-items: stretch;
            }
            .row {
              margin-top: -30px;
              margin-left: -30px;
            }
            .image {
              -moz-transition: opacity 0.25s ease-in-out;
              -webkit-transition: opacity 0.25s ease-in-out;
              -ms-transition: opacity 0.25s ease-in-out;
              transition: opacity 0.25s ease-in-out;
              display: inline-block;
              border: solid 6px #ebebeb !important;
            }
            .image:hover {
              opacity: 0.9;
            }
            .image img {
              display: block;
              width: 100%;
            }
            .image.fit {
              display: block;
              width: 100%;
            }
            .image.featured {
              display: block;
              width: 100%;
              margin: 0 0 3.5em 0;
            }
            .image.left {
              float: left;
              margin: 0 1.5em 1.5em 0;
              position: relative;
              top: 0.5em;
            }
            .image.centered {
              display: block;
              margin: 0 0 2em 0;
            }
            .image.centered img {
              margin: 0 auto;
              width: auto;
            }
          }
        }
      }
    }
  }
}
