%html{'ng-app' => 'calendarApp', 'ng-cloak' => 'true'}

-@days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

.calendar{'ng-controller' => 'calendarController as calendar'}
  .calendar_left
    .header
      %i{'class' => 'material-icons', 'ng-click' => 'calendar.prev()'} navigate_before
      %h1 {{calendar.month}}
      %i{'class' => 'material-icons', 'ng-click' => 'calendar.next()'} navigate_next
    .days
      -@days.each do |days, index|
        .day_item #{days}
    .dates
     
  .calendar_right
    
    .list
    
      %ul
      
        %li{'ng-repeat' => 'events in calendar.events', 'ng-show' => 'events.id === calendar.dataId', 'class' => 'bounce-in'}
        
          %span{'class' => 'type'} It's a {{ events.type }} thing -
          
          %span{'class' => 'description'} {{ events.description }}
    
    %form{'ng-submit' => 'calendar.add()'}
      %input{'type' => 'text', 'placeholder' => 'Enter a task for this day', 'ng-model' => 'calendar.description'}
        %select{'placeholder' => 'calendar.type', 'ng-model' => 'calendar.type'}
          %option{'value' => 'Social'} Social
          %option{'value' => 'Work'} Work