$font-family-base: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight-base: 300;
$font-size: 1.125em;
$line-height: 1.3;

body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size;
    line-height: $line-height;
}

.b-calendar {
    display: flex;
    align-items: center;
    margin: 2.5em auto;
    max-width: 70rem;
    &__information {
        background-color: #535c68;
        border-radius: 1.2rem 0 0 1.2rem;
        color: #fff;
        height: 100%;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        .selected-date {
            padding-top: 3rem;
            padding-left: 2.5rem;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background-color: #f0932b;
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                top: 4.5rem;
                left: -0.25rem;
            }
            .weekday {
                font-weight: 100;
                padding-bottom: 0.5em;
            }
            .day {
                font-size: 2em;
                font-weight: 600;
                line-height: 1;
            }
            .month {
                font-size: 2em;
                font-weight: 200;
                line-height: 1;
            }
        }
        .go-today-link {
            display: none;
        }
    }
    &__calendar {
        min-height: 40rem;
        padding-right: 0.9rem;
    }
    &__header {
        margin-bottom: 2rem;
        .month {
            font-size: 1.25em;
            font-weight: 200;
            text-transform: capitalize;
            min-width: 10rem;
        }
        .year {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .arrow {
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            width: 2.5rem;
            &:hover {
                cursor: pointer;
            }
            &-left {
                i {
                    transform: translateX(-10%);
                }
            }
            &-right {
                i {
                    transform: translateX(10%);
                }
            }
        }
    }
    &__weekdays {
        display: flex;
        margin-bottom: 1.25rem;
        .weekday {
            width: calc(100% / 7);
            padding: 0.25rem 0.5rem;
        }
    }
    &__dates {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: #fff;
            height: 1px;
            width: 100%;
            z-index: 1;
        }
        .date {
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            font-weight: 200;
            min-height: 4.5rem;
            padding: 0.25rem 0.5rem;
            position: relative;
            width: calc(100% / 7);
            &.blank {
                background-color: rgba(0, 0, 0, 0.02);
                color: rgba(0, 0, 0, 0.2);
            }
            &.no-border-right {
                border-right: none;
            }
            &.today {
                background-color: #ff7979;
                color: #fff;
            }
            &.selected {
                background-color: #f0932b;
                color: #fff;
            }
            .link {
                cursor: pointer;
                position: absolute;
                top: 0.05rem;
                left: 0.05rem;
                bottom: 0.05rem;
                right: 0.05rem;
                z-index: 1;
            }
            .weekday {
                display: none;
            }
            .additional {
                font-size: 0.75em;
                position: absolute;
                bottom: 0.25rem;
                left: 0.5rem;
                .year {
                    padding-right: 0.25rem;
                    font-size: 0.75em;
                }
            }
            .event-mobile-container {
                display: none;
            }
        }
    }
}

.b-event-container {
    margin-top: 2rem;
    .create-event-form {
        margin-bottom: 1rem;
        .event-title-input {
            margin-right: 0.25rem;
            width: calc(100% - 2.7rem);
        }
    }
    .btn-group {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        .btn {
            width: 33.33%;
        }
    }
    .event-list {
        list-style: none;
        padding: 0;
        margin-left: -0.9rem;
        margin-right: -0.9rem;
        max-height: 20rem;
        overflow-y: auto;
        .event {
            background-color: rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 0.9rem;
            margin-bottom: 0.5rem;
            &.completed {
                background-color: rgba(255, 255, 255, 0.2);
                .title {
                    opacity: 0.5;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -0.5rem;
                        display: block;
                        width: 0%;
                        height: 1px;
                        background: #fff;
                        animation: strikeitem 0.3s ease-out 0s forwards;
                    }
                }
            }
            .title {
                position: relative;
                max-width: calc(100% - 4rem);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .buttons {
                display: flex;
                .btn {
                    background: transparent;
                    border: none;
                    color: #fff;
                    font-size: 1.2em;
                    padding: 0;
                    height: 1.75rem;
                    width: 1.75rem;
                    box-shadow: none;
                }
            }
        }
    }
    .no-events {
        margin-top: 1.5rem;
    }
}

@keyframes strikeitem {
    to {
        width: calc(100% + 1rem);
    }
}

@media (max-width: 991.98px) {
    .b-calendar {
        &__calendar {
            padding: 0;
        }
        &__information {
            border-radius: 2rem 2rem 0 0;
            padding-top: 2rem;
            padding-bottom: 2rem;
            min-height: auto;
            .today {
                padding-top: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .b-calendar {
        &__weekdays {
            display: none;
        }
        &__information {
            .selected-date {
                padding-top: 2rem;
                padding-bottom: 1rem;
                padding-left: 2.5rem;
                &:before {
                    top: 3rem;
                }
            }
            .b-event-container {
                display: none;
            }
            .go-today-link {
                display: block;
                color: #fff;
            }
        }
        &__header {
            .go-today-btn {
                display: none;
            }
            .month-change-container {
                width: 100%;
                min-width: 100%;
            }
            .month {
                width: 100%;
            }
        }
        &__dates {
            .date {
                width: 100%;
                text-align: left !important;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                display: flex;
                &.blank {
                    display: none;
                }
                .weekday {
                    display: block;
                    margin-left: 0.25rem;
                }
                .event-mobile-container {
                    background: #535c68;
                    display: block;
                    position: absolute;
                    margin-top: 0;
                    top: 100%;
                    left: 0;
                    right: 0;
                    padding: 2rem 0.5rem;
                    z-index: 10;
                    &.collapse {
                        display: none !important;
                    }
                    &.show {
                        display: block !important;
                    }
                }
            }
        }
    }
}

form.create-event-form.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
